@{
    ViewBag.Title = "Home Page";
}

    <div class="home-buttons">
        <a class="btn btn-default" href="Home/LocalGame">local</a>
        <a class="btn btn-default" href="Home/singulrTest">singulrTest</a>
        
    </div>